
html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial;
}
#map {
	width: 80%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}
.settings {

	width: 19%;
	display: inline-block;
	vertical-align: top;
}
.settings h1 {
	text-align: center;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background: transparent;
	text-align: center;
	box-shadow: 0 0px 0px rgba(0,0,0,0);
}
.text {
	background: transparent;
	text-align: center;
	box-shadow: 0 0px 0px rgba(0,0,0,0);
}
.hide {
	display: none;
}
.show {
	display: block;
}
.align {
	display: inline-block;
}
.pop_up_inv {
	height: 100%;
	z-index: 1000;
	position: absolute;
	width: 80%;
	background-color: rgba(0,0,0,0.2);
	margin: 0;
	padding: 0;
}
.pop_up {
	z-index: 1000;
	
	background-color: rgba(255,255,255,0.9);
	width: 80%;
	
	min-height: 60%;
	margin-top: 10%;
	margin-left: 10%;
}
#toolbar{
	position: absolute;
	top :25%;
	left:1%;
	width: 4%;

}
.forme {
	padding: 10%;
}
#toolbar img {
	width: 100%;
}
.pop_up {
	text-align: center;
	padding: 2%;
}
.btn {
	-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  
  color: #ffffff;
  font-size: 20px;
  background: #216996;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
  margin: 1%;


}
.formulaire {
	min-height: 50%;
	position: relative;
}
.ajouter {
	position: absolute;
	bottom: 0;
	left:40%;
	width: 20%;
	text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #242424;
  font-size: 15px;
  background: #abbfcc;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid #1f628d 2px;
  text-decoration: none;
}