
html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial;
}
#map {
	width: 100%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
  
}
.settings {
	padding-top: 10px;
	padding-left: 10px;
	width: 19%;
	display: inline-block;
	vertical-align: top;
	float: left;
}

.settings2 {
	padding-left: 10px;
	width: 25%;
	display: inline-block;
	vertical-align: top;
	float: left;
	color: white;
}

/*.settings3 {
	padding-left: 10px;
	width: 25%;
	display: inline-block;
	vertical-align: top;
	float: left;
}*/

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background: transparent;
	text-align: center;
	box-shadow: 0 0px 0px rgba(0,0,0,0);
}
.text {
	background: transparent;
	text-align: center;
	box-shadow: 0 0px 0px rgba(0,0,0,0);
}
.hide {
	display: none;
}
.show {
	display: block;
}
.align {
	display: inline-block;
}
.pop_up_inv {
	height: 100%;
	z-index: 1000;
	position: absolute;
	width: 80%;
	background-color: rgba(0,0,0,0.2);
	margin: 0;
	padding: 0;
}
.pop_up_inv2 {
	height: 100%;
	z-index: 1000;
	position: absolute;
	width: 100%;
	background-color: rgba(0,0,0,0.2);
	margin: 0;
	padding: 0;
}
@keyframes animation {
    from {opacity: 0.5;}
    50% {opacity: 1;}
    to {opacity: 0.5;}
}
.anim{
	animation-name: animation;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
.deleteUltim {
	-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  
  
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
  margin-top: 10%;
}
.deleteUltim a {
	color: white;
}
.pop_up {
	z-index: 1000;
	
	background-color: rgba(255,255,255,0.9);
	width: 80%;
	
	min-height: 60%;
	margin-top: 10%;
	margin-left: 10%;
}
.pop {
	height: 100%;
	z-index: 1000;
	position: absolute;
	width: 80%;
	background-color: rgba(0,0,0,0.2);
	margin: 0;
	padding: 0;
}
#toolbar{
	position: absolute;
	top :25%;
	left:1%;
	width: 4%;

}
.forme {
	padding: 10%;
}
#toolbar img {
	width: 100%;
}
.pop_up {
	text-align: center;
	padding: 2%;
}
.btn {
	-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  
  color: #ffffff;
  font-size: 20px;
  background: #216996;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
  margin: 1%;


}
.pop {

}
.big_btn {
	z-index: 1000;
	position: absolute;
	bottom: 40px;
	width: 10%;
	left:30%;
	text-align: center;
}


#boussole{
    height: 150px;
    z-index: 1000;
	position: absolute;
	bottom: 1.5%;
	width: 150px;
	left:1.5%;
	text-align: center;
    background-image: url(../image/boussole.png);
}
.formulaire, .formulaire_bat {
	min-height: 50%;
	position: relative;
}
.ajouter {
	position: absolute;
	bottom: 0;
	left:40%;
	width: 20%;
	text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #242424;
  font-size: 15px;
  background: #abbfcc;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid #1f628d 2px;
  text-decoration: none;
}


/* sidebar */

body.sidebar-show {
	overflow: hidden;
}

.sidebar,
.sidebar-btn,
.menu-stripes,
.content {
	transition: transform .5s ease-in-out;
}

.content {
	margin-top: 80px; /* height of sidebar-btn + 10 */
}

.content.sidebar-show:before {
	content: "";
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	z-index: 5000;
	overflow: hidden;
}

.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
	height: 100%;
	background: #FFF;
	color: #333;
	transform: translate(300px);
	z-index: 5001;
}

.sidebar.show {
	transform: translate(0);
	overflow-y: auto;
}

.sidebar-btn {
	position: absolute;
	height: 70px;
	width: 70px;
	background: rgba(128, 128, 128, .5);
	border: 0;
	border-radius: 99px;
	top: 10px;
	right: 0px;
	transform: translate(-3px);
	z-index: 5002
}

.sidebar-btn.sidebar-show {
	transform: translate(-220px);
}

.menu-stripes1 {
	position: relative;
	height: 4px;
	width: 35px;
	margin-top: 7px auto;
	background-color: #FFF;
	border-radius: 5px;
	transform: rotate(136deg);
}

.menu-stripes {
	position: relative;
	height: 4px;
	width: 47px;
	margin: 7px auto;
	background-color: #FFF;
	border-radius: 5px;
}

.menu-stripes2 {
	position: relative;
	height: 4px;
	width: 35px;
	margin-top: 7px auto;
	background-color: #FFF;
	border-radius: 5px;
	transform: rotate(42deg);
}

.sidebar-btn.sidebar-show .menu-stripes {
	margin: -3px auto;
}
.sidebar-btn.sidebar-show .menu-stripes1 {
	transform: rotate(35deg);
	margin-left:10px;


}
.sidebar-btn.sidebar-show .menu-stripes {
	display: none;
}
.sidebar-btn.sidebar-show .menu-stripes2 {
	transform: rotate(130deg);
	margin-left:10px;
	margin-top:-4px;

}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding-left: 0;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  width: 100%;
}
#wrapper.toggled #page-content-wrapper {
  margin-right: -220px;
  position: absolute;
}
#sidebar-wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  background: #2C3E50;
  height: 250px;
  left: 220px;
  margin-left: -220px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000;
}
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}
#page-content-wrapper {
  width: 100%;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
  background: transparent;
  border: none;
  display: block;
  height: 32px;
  margin-left: 15px;
  position: fixed;
  top: 43%;
  width: 32px;
  z-index: 1001;
}
.hamburger:hover {
  outline: none;
}
.hamburger:focus {
  outline: none;
}
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #171814;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 1;
  text-align: center;
  width: 100px;
}
.hamburger.is-closed:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}
.hamburger.is-closed:hover .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  top: 0;
}
.hamburger.is-closed:hover .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  bottom: 0;
}
.hamburger.is-closed .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: black;
  top: 5px;
}
.hamburger.is-closed .hamb-middle {
  background-color: black;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-closed .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: black;
  bottom: 5px;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: black;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open .hamb-middle {
  background-color: black;
  display: none;
}
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: black;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: black;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.hamburger.is-open:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}


/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 220px;
}
.sidebar-nav .dropdown-menu {
  background-color: #222222;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.sidebar-nav > .sidebar-brand {
  font-size: 20px;
  height: 65px;
  line-height: 44px;
}

/*-------------------------------*/
/*          Bouton menu          */
/*-------------------------------*/

.radio {
  display: none;
  font-size: 15px;
}

.checkbox {
  display: none;
  font-size: 15px;
}

.bouton {
  margin-bottom: 20px;
}

.bouton span {
	color: white;
}

.bouton label {
  width: 18px;
  height: 18px;
  margin-bottom: -3px;
  margin-right: 10px;
  background: #e74c3c;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
  transition: 300ms all;
}

.bouton label::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 11px;
  left: 7px;
  top: 1px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
  -webkit-backface-visibility: hidden;
  z-index: 1;
  -webkit-transition: 300ms opacity;
  -moz-transition: 300ms opacity;
  -ms-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
}

.bouton input:checked + label {
  background: #27ae60;
}

.bouton input:checked + label::after {
  opacity: 1;
}

.bouton input[type=radio] + label {
  border-radius: 100%;
}
.bouton input[type=radio] + label::after {
  left: 6px;
  top: 2px;
  height: 10px;
}







